[Desktop Entry]
Encoding=UTF-8
Name=Link to Zaki_Lodi_TreasureHuntGame_starterCode.html
Type=Link
URL=https://learn.snhu.edu/d2l/le/dropbox/2138244/3998996/DownloadSubmissionFile?fid=238395745&sid=62260670
Icon=text-html
Name[en_US]=Zaki_Lodi_TreasureHuntGame_starterCode.html
